:root {
    --background-color: linear-gradient(90deg, #414345 0%, rgb(50%, 50%, 50%) 50%);
    --primary: #ea1;
    --sunset: #EFD09E;
    --Raisin-Black: #272727;
    --Lagune: #6398A9;
    --Menthe: #96C7B3;
    --Nectar: #D7897F;
    --light: white;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--Lagune);
}

header .container{
    align-items: center;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;

    color: white;
    width:  100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--Nectar);
    border-bottom: 2px var(--Lagune) solid;
}

.container .brand {
    display: flex;
    gap: 20px;
    align-self: center;
    align-content: center;
}

.container .brand .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: 800;

    text-wrap: nowrap;
    align-self: center;
}

.container .brand .logo{
    background-color: var(--light);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: var(--Raisin-Black);

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
}

.container .row-left {
    margin-right: 20px;
    justify-self: end;
} 

.container .btn {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: 1px var(--Menthe) solid;
    background-color: var(--Raisin-Black);
    color: var(--background-color);

    font-weight: 800;
    cursor: pointer;
    transition: background-color 1s ease;
}

.container .btn:hover {
    background-color: var(--Lagune);
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.left-panel h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    font-weight: 800;

    justify-content: center;
    color: var(--light);
}

main .left-panel{
    width: 15rem;
    height: 40rem;
    padding: 10px;
    grid-column: 1;
    background-color: var(--Raisin-Black);
}

.left-panel textarea {
    width: 13.5rem;
    height: 10rem;
    border-radius: 5px;

    outline-color: var(--Lagune);

    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.left-panel .stack label {
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--light);
}

.left-panel .muted {
    color: rgba(177, 177, 177, 0.849);
    cursor: default;
}

section {
    grid-column: 2;
    background-color: #D7897F;
    margin: 0;
    padding: 10px;

    width: 100%;
    height: 40rem;
}

section .header-row {
    display: flex;
    gap: 10px;
}

section .header-row .row {
    display: flex;
    gap: 10px;
}

section h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    font-weight: 800;

    text-wrap: nowrap;
    justify-content: center;
    color: var(--light);
}

section .btn {
    align-self: center;
    height: 2rem;
    white-space: nowrap;

    cursor: pointer;
}

section .ok .run-icon {
    font-size: 3rem;
    font-weight: 800;
    color: green;
}

section .ok {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border:  2px var(--Raisin-Black) solid;
    border: none;
}

section .preview-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;

    background-color: var(--Menthe);
    color: var(--light);
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
}

section .tabs button{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    margin-bottom: 5px;
}

.editor-wrap {
    width: 15rem;
    background-color: #272727;
    height: 10rem;
}

.tabs button:hover {
    border-bottom: 2px var(--Lagune) solid;
}

.right-panel {
    grid-column: 3;
}

footer {
    width: 100%;
    text-align: center;
    color: var(--light);
    height: 3rem;
    padding: 5px;
    align-content: center;
    background-color: var(--Nectar);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 800;
}